<div class="content">
    <span class="page-title"><p>Edit Account Information</p></span> 
    <form [formGroup]="form">
         <mat-form-field>
             <mat-label>Email Address</mat-label>
             <input matInput formControlName="email" placeholder="validemail@example.com"/>
         </mat-form-field><br />
         <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name"/>
        </mat-form-field><br />
         <mat-form-field>
             <mat-label>Password</mat-label>
             <input matInput formControlName="password" placeholder="Pa$$word1"/>
             <mat-error *ngIf = "form.get('password').errors">
             Please enter a valid password: one capital letter, one symbol(@, #, etc.), and one digit (1, 2, etc.) <strong>must</strong> be included.
             </mat-error>
         </mat-form-field><br />
         <mat-form-field>
             <mat-label>Confirm Password</mat-label>
             <input matInput [formControl]="confirmFormControl" placeholder="Pa$$word1"/>
             <mat-error *ngIf = "confirmFormControl.errors">
             Please enter a valid password: one capital letter, one symbol(!, #, etc.), and one digit (1, 2, etc.) <strong>must</strong> be included.
             </mat-error>
         </mat-form-field><br />
     </form>
     <div *ngIf="passwordWarning" class="warning">
         The confirmation password did not match the new password.
     </div>
     <button mat-button (click)="tryEdit(form.value)">Submit</button>
     <button mat-button (click)="logout()">Log Out</button>
 </div>
 <!-- [formControl]="emailFormControl"  [formControl]="passwordFormControl"-->
 