<div>
    <h1>About The Brookings Activity Center</h1>
    <p>
        The Brookings Activity Center is the best place to host events in Brookings county. 
        We can set up all kinds of events such as weddings, conventions, birthday parties, concerts, live performaces, and anything else the customer desires.
        We have multiple rooms that can host a variety of events.
        Our event rooms include:
    </p>
        <ul> 
            <li>Convention Center (can be split in two sections)</li>
            <li>Ballroom (can be split in two section)</li>
            <li>Theater</li>
            <li>Small Performace Space</li>
        </ul>
    <p>
        With each event the you the customer has the choice to add our catering to the event from a selection on our menu.
        Our menu is constantly being updated with new dishes and seasonal choices.
    </p>
</div>
<div>
    <h2>Contact Information</h2>
    <p>Email: brookingsactivitycenter@gmail.com</p>
    <p>Phone: 605-692-4492</p>

    <h2>Address</h2>
    <p>320 5th Avenue Brookings, SD 57006</p>

    <h2>Hours of Operation</h2>
    <p>Sunday - Saturday 10AM - 2AM</p>
</div>
