.content{
    background-color: #cfe2f3ff;
    border-color: #000000;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
    width: 300px
}

.page-title{
    text-align: center;
}

.form{
    width: 200px;
}