<div class="content">
    <span mat-dialog-title class="page-title"><p>Login to {{ this.accountType }} Account</p></span> 
    <mat-dialog-content [formGroup]="form">
        <mat-form-field>
            <mat-label>{{ accountInput }}</mat-label>
            <input matInput formControlName="email" placeholder="validemail@example.com"/>
            <mat-error *ngIf = "form.get('email').errors 
            && !form.get('email').hasError('required') && !isEmployeeAccount">
            Please enter a valid email address
            </mat-error>
            <mat-error *ngIf = "form.get('email').hasError('required')">
                {{ accountInput }} is a required field.
            </mat-error>
        </mat-form-field><br />
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Pa$$word1"/>
            <mat-error *ngIf = "form.get('password').errors && !form.get('password').hasError('required')">
            Please enter a valid password: one capital letter, one symbol(@, #, etc.), and one digit (1, 2, etc.) <strong>must</strong> be included.
            </mat-error>
            <mat-error *ngIf = "form.get('password').hasError('required')">
                Password is a required field.
            </mat-error>
        </mat-form-field><br />
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput [formControl]="confirmFormControl" placeholder="Pa$$word1"/>
            <mat-error *ngIf = "confirmFormControl.errors && !confirmFormControl.hasError('required')">
            Please enter a valid password: one capital letter, one symbol(!, #, etc.), and one digit (1, 2, etc.) <strong>must</strong> be included.
            </mat-error>
            <mat-error *ngIf = "confirmFormControl.hasError('required')">
                Please confirm your password.
            </mat-error>
        </mat-form-field><br />
     </mat-dialog-content>
     <!-- <div *ngIf="passwordWarning && !errorMessage" class="warning">
         The confirmation password did not match the new password.
     </div> -->
     <div *ngIf="errorMessage" class="warning">
         {{ errorMessage }}
     </div>
     <mat-dialog-actions>
        <button mat-button (click)="tryLogin(form.value)">Submit</button>
        <mat-checkbox (click)="changeAccountType()"></mat-checkbox>
    </mat-dialog-actions>
 </div>
 <!-- [formControl]="emailFormControl"  [formControl]="passwordFormControl"-->
 