<div>
    <h1>Brookings Activity Center Menu</h1>
    
</div>
<div>
    <h2>Chicken Alfredo Pasta</h2>
    <p>Juicy grilled chicken is served warm on a bed of fettuccine pasta tossed</p> 
    <p>with broccoli and rich Alfredo sauce and topped with Parmesan cheese.</p>
    <img src="assets/img/chickAlf.jpg" height = 150px>

    <h2>Cheeseburger and Fries</h2>
    <p>Classic Cheeseburger erved with classic fries, lettuce, tomato, onion & pickles.</p>
    <img src="assets/img/burger.jpg" height = 150px>

    <h2>Steak and Potatoes</h2>
    <p>8oz top sirloin lightly seasoned with herbs and spices, cooked to</p>
    <p>perfection and served hot off the grill. Served potatoes.</p>
    <img src="assets/img/steak.jpg" height = 150px>
</div>
