<div class="content">
    <span class="page-title">
        <h3>Edit Event</h3>
    </span>
    <form [formGroup]="form">
        <mat-form-field class="form">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field><br>
        <mat-form-field class="form">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="quantity"/>
            <!-- <ngx-material-timepicker #startTime></ngx-material-timepicker> -->
        </mat-form-field><br />
        <mat-form-field class="form">
            <mat-label>Expiration Date</mat-label>
            <input matInput formControlName="expirationDate" [matDatepicker]="date" />
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
            <mat-error *ngIf="form.get('expirationDate').hasError('required')">
                Date is a required field.
            </mat-error>
        </mat-form-field><br />
    </form>

    <button mat-button (click)="tryEdit(form.value)">Submit</button>
</div>