<div class="body">
    <div class="body-text">
        <h2>List of Food Supplies</h2>
        <div class="table">
            <table>
                <tr class="food-header">
                    <td style="padding-right: 100px; padding-left: 10px;">Name:</td>
                    <td style="padding-right: 100px;">Quantity:</td>
                    <td style="padding-right: 100px;">Expiration Date:</td>
                </tr>
                <tr class="food-list" *ngFor="let item of items" style="cursor: pointer; border: 2px, solid, black">
                    <td (click)="openEditor(item.payload.doc.data())" style="padding-right: 100px; padding-left: 10px;">{{ item.payload.doc.data().name }}</td>
                    <td (click)="openEditor(item.payload.doc.data())" style="padding-right: 100px;">{{ item.payload.doc.data().quantity }}</td>
                    <td (click)="openEditor(item.payload.doc.data())" style="padding-right: 100px;">{{ item.payload.doc.data().expirationDate }}</td>
                    <!-- <td style="padding-right: 0px;">{{ item.payload.doc.data().databaseKey }}</td> -->
                    <td (click)="deleteItem(item.payload.doc.data())"><fa-icon [icon]="faTrashAlt"></fa-icon></td>
                        <!-- <span *ngFor = "let e of item.payload.doc.data().event">
                        {{ e }}
                    </span> -->

                </tr>
            </table>
        </div>

        <button class="button" (click)="openDialog()">Create Food Item</button>
    </div>
</div>