.content {
    background-color: #cfe2f3ff;
    border-color: #000000;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
}
.page-title {
    text-align: center;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}