.header {
    height: 100px;
    width: auto;
    text-align: center;
    margin-right: 40px;

    .system-logo {
        height: 100px;
        float: left;
    }

    .bac-title {
        margin-right: 40px;
        font-size: large;
    }

    .user-selection {
        float: right;
    }
}

.route-bar {
    height: 50px;
    width: auto;
    background-color: #4a86e8ff;
    border-radius: 10px;
    
    .route-tab {
        position: absolute;
        padding: 10px;
        text-align: center;
        background-color: #cfe2f3ff;
        border-radius: inherit;
    }
}

.body {
    margin: 15px;
}