<div class="header">
    <img class="system-logo" src="assets/img/BAC Scheduling System Logo.png">
    <span class="bac-title" routerLink="/main"><strong>Brookings Activity Center</strong></span>
    <span class="user-selection" routerLink="">
        <a href = "" style = "text-decoration: none">
            <img class = "sign-in" src = "assets/img/signInIcon.png">
            <div>Sign In </div>
        </a> 
    </span>
    
</div>
<div class="route-bar">
    <a class="route-tab" routerLink="/about">About BAC</a>
    <a class="route-tab" routerLink="">temp</a>
    <a class="route-tab" routerLink="">temp</a>
</div>
<div class="body">
    <router-outlet></router-outlet>
</div>