.header {
    height: 100px;
    width: auto;
    text-align: center;
    // margin-right: 40px;

    .system-logo {
        height: 100px;
        float: left;
    }

    .bac-title {
<<<<<<< HEAD
        // margin-right: 40px;
        font-size: large;
        vertical-align: middle;
=======
        margin-right: 40px;
        font-size: x-large;
>>>>>>> master
    }

    .user-selection {
        float: right;
        color: black;
    }

    .sign-in
    {
        height: 70px;
    }
}

.route-bar {
    list-style-type: none;
    margin: 3px;
    padding: 0;
    overflow: hidden;
    height: 50px;
    width: auto;
    background-color: #4a86e8ff;
    border-radius: 10px;
    
    li {
        float: left;
        vertical-align: middle;
        // display: inline;
        padding: 10px;
        margin: 5px;
        text-align: center;
        background-color: #cfe2f3ff;
        border-radius: inherit;
    } 
    
    .route-tab-about {
        float: right;
    }  
}

.body {
    margin: 15px;
}