<div class="header">
    <!-- <img class="system-logo" src="assets/img/BAC Scheduling System Logo.png"> -->
    <span class="bac-title" routerLink="/main"><strong>Brookings Activity Center</strong></span>
    <!-- <span class="user-selection" routerLink="">Temp</span> -->  
</div>

<ul class="route-bar">
    <li><fa-icon [icon]="faBars"></fa-icon></li>
    <li class="route-tab-about"><a routerLink="/about">About BAC <fa-icon [icon]="faCog"></fa-icon></a></li>
    <li><a routerLink="/account">Create an Account</a></li>
    <li><a routerLink="">temp</a></li>
</ul>
<!-- <mat-drawer-container [hasBackdrop]="" (click)="drawer.toggle()">
    <mat-drawer #drawer [mode]="over">I'm a drawer</mat-drawer>
  <mat-drawer-content></mat-drawer-content>
</mat-drawer-container> -->

<div class="body">
    <router-outlet></router-outlet>
</div>