<div class="header">
    <img class="system-logo" routerLink="/main" src="assets/img/BAC Scheduling System Logo.png">
    <span class="bac-title" routerLink="/main"><strong>Brookings Activity Center</strong></span>
    <span class="user-selection" (click)="openDialog()" style = "cursor: pointer;">
        <a *ngIf="!loggedIn" style = "text-decoration: none">
            <img class = "sign-in" src = "assets/img/signInIcon.png">
            <div>Sign In </div>
        </a> 
        <a *ngIf="loggedIn && currentUser" style = "text-decoration: none">
            <!-- <img class = "sign-in" src = "assets/img/signInIcon.png"> -->
            <fa-icon style="font-size:48px;" [icon]="faUserCircle"></fa-icon>
            <div> {{ currentUser.name ? currentUser.name : currentUser.email }} </div>
        </a>
    </span>
    
</div>
<!-- <div class="route-bar">
    <a class="route-tab" routerLink="/about">About BAC</a>
    <a class="route-tab" routerLink="">temp</a>
    <a class="route-tab" routerLink="">temp</a>
</div> -->

<ul class="route-bar">
    <!-- <li><fa-icon [icon]="faBars"></fa-icon></li> -->
    <li class="route-tab"><a routerLink="/main">Home</a></li>
    <li class="route-tab-about"><a routerLink="/about">About BAC <fa-icon [icon]="faCog"></fa-icon></a></li>
    <li class="route-tab"><a routerLink="/account">Create an Account</a></li>
    <li class="route-tab" *ngIf="currentUser && customerLoggedIn"><a routerLink="/createEvent">Request Event</a></li>
    <li class="route-tab" *ngIf="currentUser && !customerLoggedIn && (currentUser.status == 2 ||
                                                                      currentUser.status == 4 || 
                                                                      currentUser.status == 6 || 
                                                                      currentUser.status == 7 || 
                                                                      currentUser.status == 8)">
        <a routerLink="/foodview">View Food Items</a>
    </li>
    <li class="route-tab" *ngIf="currentUser && !customerLoggedIn">
        <a routerLink="/eventview">View Events</a>
    </li>
</ul>

<div class="body">
    <router-outlet></router-outlet>
</div>