<div class="content">
    <span mat-dialog-title class="page-title">
        <p>Event Editor</p>
    </span>
    <mat-dialog-content [formGroup]="form">
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="Date" value="default">
            <!-- <mat-label>Date</mat-label>
            <input matInput [matDatepicker] = "myDate" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="myDate"></mat-datepicker-toggle>
            <mat-datepicker #myDate></mat-datepicker> -->
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput formControlName="Start Time" value="default">
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>End Time</mat-label>
            <input  matInput formControlName="End Time" value="default">
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>Room</mat-label>
            <select matNativeControl required>
                <option value="ballroom">Ball Room</option>
                <option value="ballroomA">Ball Room A</option>
                <option value="ballroomB">Ball Room B</option>
                <option value="conventionCenter">Convention Center</option>
                <option value="theater">Theater</option>
                <option value="perfCenter">Performance Center</option>
              </select>
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>Catering</mat-label>
            <select matNativeControl required>
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>Menu Item</mat-label>
            <select matNativeControl required>
                <option value="noFood"> </option>
                <option value="steak">Steak and Potatoes</option>
                <option value="chicken">Chicken Alfredo Pasta</option>
                <option value="burger">Cheeseburger and Fries</option>
            </select>
        </mat-form-field> <br>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="Description" value = default>
        </mat-form-field> <br>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="tryEdit(form.value)">Submit</button>
    </mat-dialog-actions>
</div>