.content {
    background-color: #cfe2f3ff;
    border-color: #000000;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
}

.page-title {
    text-align: center;
}

.warning {
    color: red;
}

button {
    margin: 5px;
}

mat-form-field {
    margin: 8px;
}