<div class="content">
   <span class="page-title"><p>Create New Customer Account</p></span> 
   <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="validemail@example.com"/>
            <mat-error *ngIf = "form.hasError('email') 
            && !form.hasError('required')">
            Please enter a valid email address
            </mat-error>
            <mat-error *ngIf = "form.hasError('required')">
                Email is a required field.
            </mat-error>
        </mat-form-field><br />
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Pa$$word1"/>
            <mat-error *ngIf = "form.hasError('ValidatePassword')">
            Please enter a valid password: one capital letter, one symbol(@, #, etc.), and one digit (1, 2, etc.) <strong>must</strong> be included.
            </mat-error>
            <mat-error *ngIf = "form.hasError('required')">
                Password is a required field.
            </mat-error>
        </mat-form-field><br />
        <mat-form-field>
            <mat-label>onfirm Password</mat-label>
            <input matInput [formControl]="confirmFormControl" placeholder="Pa$$word1"/>
            <mat-error *ngIf = "confirmFormControl.hasError('ValidatePassword')">
            Please enter a valid password: one capital letter, one symbol(!, #, etc.), and one digit (1, 2, etc.) <strong>must</strong> be included.
            </mat-error>
            <mat-error *ngIf = "confirmFormControl.hasError('required')">
                Please confirm your password.
            </mat-error>
        </mat-form-field><br />
    </form>
    <div *ngIf="passwordWarning" class="warning">
        The confirmation password did not match the new password.
    </div>
    <button mat-button (click)="tryRegister(form.value)">Submit</button>
</div>
<!-- [formControl]="emailFormControl"  [formControl]="passwordFormControl"-->
