<div>
    <h1>Brookings Activity Center Event Rooms</h1>
    
</div>
<div>
    <h2>Convention Center</h2>
    <p>Can be split in half into Convention A and Convention B</p> 
    <p>Occupancy is 300 people - Convention A & B are both 150 people</p>


    <h2>Ballroom</h2>
    <p>Can be split in half into Ballroom A and Ballroom B</p>
    <p>Occupancy is 200 people - Ballroom A & B are both 100 people</p>

    <h2>Theater</h2>
    <p>Contains a stage, for plays and other perfromances</p>
    <p>Occupancy is 750 seats</p>

    <h3>Smal Performance Space</h3>
    <p>Occupancy is 250 people</p>


</div>